#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  padding-left: 40px;
}
#article {
  padding-left: 40px;
}
.video {
  text-align: center;
}
.img1 {
  text-align: center;
}
ol {
  font-size: 20px;
  border-right: 1px solid gray;
  width: 90px;
  margin: 0;
  padding: 20px;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}
h2 {
  font-size: 30px;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
@media(max-width:800px) {
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
